.container {
    max-width: var(--container-size);
    margin: 0 auto;
    padding: 0 15px;

    &--md {
        max-width: var(--container-size-md);
    }

    &--sm {
        max-width: var(--container-size-sm);
    }
}

.accent-color {
    color: var(--accent-color);
}