:root {
    --font-family: "Kaspersky Sans Display", sans-serif;
    --second-family: "Inter", sans-serif;

    --container-size: 1520px;
    --container-size-md: 1160px;
    --container-size-sm: 950px;
    --header-min-height: 10px;

    --accent-color: #00a88e;
    --page-background-color: #f6fbfa;

    --ticker-gradient-param: 300px;
    --ticker-animation-duration: 70s;
}